.menu{
    height: 10vh;
    width: 100%;
    padding: 2% 2%;
    background-color: #F4F9F8;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
}

.logo-container{
    width: 14%;
}

.menu-links{
    width: 30%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.link-name{
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

.buttons-container{
    width: 56%;
    display: flex;
    justify-content: end;
}
.image{
    width: 200px;
}